html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: rgb(90,222,65);
    background: linear-gradient(90deg, rgba(90,222,65,0.6027661064425771) 
                0%, rgba(80,142,56,0.6251750700280112) 
                50%, rgba(10,78,6,0.7316176470588236) 100%);
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.board {
    
}

.board-row {
}

.board-square {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid blue;
    border-radius: 7px;
}

    .board-square:hover {
        background-color: #99ccff;
    }

    .board-square.hit {
        background-color: #33ff33;
    }

    .board-square.miss {
        background-color: #ff6666;
    }
