@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="board">
    @for (int row = 0; row < 10; row++)
    {
        <div class="board-row">
            @for (int col = 0; col < 10; col++)
            {
                <div class="board-square" id="@($"(row) - (col)")">
                </div>
            }
        </div>
    }
</div>
</div>
<div id="test"></div>

<script type="text/javascript">
    $(document).ready(function () {   
        $('.board-square').on('click', function () {
            var row = $(this).parent().index();
            var col = $(this).index();

            $.post("Home/Click", {Row: row, Col: col}, 
                function (data) {
                    let response = $.parseJSON(data)
                    if(response.Hit === true){
                        let cell = $('.board-row').eq(row).find('.board-square').eq(col);
                        cell.addClass('hit');
                    }
                }
            )
        });
    });
</script>